body {background-color: #a8a8ab;

}
.navbar-brand{border: 2px solid green;margin:0px 100px 0px 0px;
 }
.nav-item{
display: inline-block;
}
p {
margin: 40px;
}
.bold { font-weight: bold; font-family:"lucida sans";
}
h1{margin: 40px}