body {background-color: #a8a8ab;

}
.navbar-brand{border: 2px solid green;margin:0px 100px 0px 0px;
 }
.nav-item{
display: inline-block;
}
.carousel-item img{width: 930px; height: 550px; 
	margin: auto;transition: .3s ease-in-out left;
}